{% if is_paginated %}
  <div class="pagination float-right btn-group">

    {% if page_obj.has_previous %}
      <a href="?page= {{ page_obj.previous_page_number }}" class="btn btn-light">«</a>
    {% else %}
      <span class="btn btn-light disabled">«</span>
    {% endif %}

      <span class="btn btn-light disabled">{{ page_obj.number }} / {{ paginator.num_pages }}</span>

    {% if page_obj.has_next %}
      <a href="?page= {{ page_obj.next_page_number }}" class="btn btn-light">»</a>
    {% else %}
      <span class="btn btn-light disabled">»</span>
    {% endif %}

  </div>
{% endif %}
